<!DOCTYPE html>
<html>
<head>
  <title>Bolda</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "application", "rails" %>

  <!-- for rails jquery-ujs -->
  <meta name="csrf-token" content="<%= form_authenticity_token %>" />
  <meta name="csrf-param" content="authenticity_token" />

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

</head>
<body id="body">
<div>
<%= link_to current_user.name, '/profile' unless !current_user %>
<%= link_to "Logout", '/logout' unless !current_user %>
</div>
<%= render "error_messages", :target => @game unless !@game %>


<%= yield %>

</body>
</html>
