<!DOCTYPE html>
<html>
<head>
  <title>Bolda</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "application", "rails" %>

  <!-- for rails jquery-ujs -->
  <meta name="csrf-token" content="<%= form_authenticity_token %>" />
  <meta name="csrf-param" content="authenticity_token" />

</head>
<body id="body">

<%= yield %>

</body>
</html>
